p {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.7rem;
  line-height: 1.5;
}
table {
  font-size: 1.7rem;
  border-collapse: collapse;
  border: 0.1rem solid black;
  width: 70%;
  table-layout: fixed;
  margin: 0rem auto;
}
table tr:nth-child(odd) {
  background-color: #dee2e6;
}
table tr:nth-child(even) {
  background-color: #f8f9fa;
}
table tr th {
  border: 0.1rem solid black;
  padding: 1rem 1.3rem;
}
table tr td {
  text-align: center;
  border: 0.1rem solid black;
  padding: 0.7rem 1rem;
}
audio {
  margin: 0 auto 3rem;
  display: block;
}

@media (max-width: 750px) {
  table {
    width: 96%;
  }
}
