.home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../img/home.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.home2 {
  display: none;
}
