* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Figtree', sans-serif;
  color: #231f20;
}
nav {
  display: flex;
  background-color: #b83a66;
}
a {
  text-decoration: none;
  display: inline-block;
  padding: 1.3rem 0;
  flex: 1;
  text-align: center;
  border-right: 0.1rem solid black;
  font-size: 1.3rem;
}
a:link,
a:visited {
  color: white;
  transition: all 0.3s;
}
a:hover,
a:active {
  background-color: #e64980;
}
h1 {
  text-align: center;
  padding: 0.7rem 0rem;
  font-size: 4.8rem;
  line-height: 1;
  font-weight: 600;
}
.home2 {
  display: none;
}
p {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.7rem;
  line-height: 1.5;
}
table {
  font-size: 1.7rem;
  border-collapse: collapse;
  border: 0.1rem solid black;
  width: 70%;
  table-layout: fixed;
  margin: 0rem auto;
}
table tr:nth-child(odd) {
  background-color: #dee2e6;
}
table tr:nth-child(even) {
  background-color: #f8f9fa;
}
table tr th {
  border: 0.1rem solid black;
  padding: 1rem 1.3rem;
}
table tr td {
  text-align: center;
  border: 0.1rem solid black;
  padding: 0.7rem 1rem;
}

@media (max-width: 750px) {
  nav {
    display: block;
    background-color: white;
    text-align: center;
  }
  a {
    /* rgba(0, 0, 0, 0.2) */
    text-transform: uppercase;
    padding: 1.3rem 1.3rem;
    background-color: #b83a66;
    box-shadow: 0 0 0 0.5rem rgba(0, 0, 0, 0.2);
    margin: 0 2.2rem;
  }
  a:hover,
  a:active {
    box-shadow: none;
  }
  h1 {
    /* background-color: #e64980; */
    padding: 1.6rem 0rem;
  }
  table {
    width: 96%;
  }
  .home {
    display: none;
  }
  .home2 {
    display: block;
  }
}
